<div class="container" *ngIf="user; else userNotFound">
    <div class="profil">
      <div class="headerProfil">
        <div class="pseudo">
          <span>{{user.username}}</span>
        </div>
        <div class="username">
          <span>{{user.firstname}} {{user.lastname}}</span>
        </div>
      </div>
      <div class="bodyProfil">
        <a *ngIf="user.canChange == true" routerLink="../../settings" class="table-link">
          <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <br>
        <h3>Adresse Email</h3>
        <hr>
        <p>{{user.mailaddress}}</p>

        <br>
        <h3>Role</h3>
        <hr>
        <p>{{user.userRole}}</p>

        <br>
        <h3>Implantation</h3>
        <hr>
        <p>{{user.implantation}}</p>

        <br>
        <h3>Dernière connexion</h3>
        <hr>
        <p>{{user.connectionDate | date:'dd/MM/YYYY'}}</p>

        <div class="registrationDate">
          <span>Inscrit depuis le <b>{{user.registrationDate | date:'dd/MM/YYYY'}}</b></span>
        </div>
      </div>
    </div>
  </div>
<ng-template #userNotFound>
  Il n'y a pas d'utilisateur
</ng-template>
