<div class="card-container">
  <div class="card">
    <a routerLink="create" routerLinkActive="active">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <h3>Ajouter un événement</h3>
      <p>Consiste à ajouter un événement.</p>
    </a>
  </div>
  <div class="card">
    <a routerLink="update" routerLinkActive="active">
      <i class="fa fa-pencil-alt"></i>
      <h3>Modifier un événement</h3>
      <p>Consiste à modifier les événements.</p>
    </a>
  </div>
  <div class="card">
    <a routerLink="delete" routerLinkActive="active">
      <i class="fa fa-times" aria-hidden="true"></i>
      <h3>Supprimer un événement</h3>
      <p>Consiste à supprimer des événements.</p>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
