.menuAdmin
{
  width: 80%;
  margin: auto;
}

.menuAdmin ul
{
  list-style: none;
}

.menuAdmin ul li
{
  background-color: #009790;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.menuAdmin ul li a
{
  font-size: 20px;
  text-decoration: none;
  color: white;
}


