<div class="about">
  <div class="box-left">
    <img src="assets/img/about.jpg" alt="about"/>
  </div>
  <div class="box-right">
    <h1>Si vous êtes arrivé là, </h1>
    <p>c’est sans doute que vous voulez savoir ce qu’on fait,
      ou peut-être découvrir qui on est, afin d'être sûr de ne pas vous
      faire avoir. Bon réflexe.</p>

    <p>On va commencer par faire court.</p>

    <p>
      Avec le site SHELHa, on s’est fixé une mission : donner à tout
      les étudiants la possibilité de mieux connaitre leurs implantations;
      en leur laissant la possibilité de se concerter, de partager ses
      éventuelles questions et pourquoi ne pas faire de nouvelle rencontre
    </p>

    <p>
      Concrètement, on essaie de proposer un forum qui est un
      espace de discussions privée entre les étudiants de la HELHa.
      Et pour ça, notre principale arme est la connexion des utilisateurs,
      qui devront prouver qu'ils ont été ou sont encore actuellement étudiants
      au sein de la HELHa.
    </p>
  </div>
</div>
