<div class="index">
  <div class="box-left">
    <img src="assets/img/presentation.png" alt="about"/>
  </div>
  <div class="box-right">
    <h1>Présentation</h1>
    <p>
      Bienvenue sur notre site dédié aux étudiants de la Haute École Louvain en Hainaut (HELHA)! Si vous êtes
      étudiant à l'HELHa et que vous cherchez un endroit pour échanger avec vos camarades et trouver des informations
      sur les événements et les cours de l'école, vous êtes au bon endroit. Nous avons créé ce site afin de vous offrir
      un espace de communication et de partage d'informations sur les événements et les cours de l'HELHA Mons.
    </p>
    <p>
      Vous y trouverez également des articles sur divers sujets d'intérêt pour les étudiants, ainsi qu'un forum où
      vous pourrez discuter avec vos camarades et trouver des aides ou du co-voiturage. Rejoignez notre communauté
      en vous inscrivant sur notre site dès maintenant et profitez de toutes les fonctionnalités que nous mettons à
      votre disposition. Nous espérons que ce site vous sera utile et nous vous encourageons à y participer activement en
      postant vos commentaires et vos contributions.
    </p>
  </div>
</div>

<div class="index">
  <div class="box-right">
    <h1>La HELHa</h1>
    <p>
      La Haute École Louvain en Hainaut (HELHa) est une institution d'enseignement supérieur, il y a 12 implantations
      en Belgique. Fondée en 1971, HELHa est reconnue pour son excellence académique et pour sa capacité à offrir
      une formation de qualité supérieure à ses étudiants.
    </p>
    <p>
      La HELHa propose un large éventail de programmes de
      baccalauréat, de master et de doctorat dans de nombreuses disciplines, y compris les sciences, les sciences
      humaines, les sciences de la santé, l'ingénierie, les arts, les technologies de l'information et plus encore !
    </p>
    <p>
      En plus de ses programmes d'études rigoureux, HELHa offre également une variété d'opportunités pour les
      étudiants, y compris des stages professionnels, des programmes d'échange internationaux et des activités
      extracurriculaires. Cette école s'efforce de fournir un environnement de travail stimulant et de préparer
      ses étudiants à réussir sur le marché du travail.
    </p>
  </div>
  <div class="box-left">
    <img src="assets/img/about.jpg" alt="about"/>
  </div>
</div>
