<div class="card-container">
  <div class="card">
    <a routerLink="create" routerLinkActive="active">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <h3>Ajouter une catégorie</h3>
      <p>Consiste à ajouter une catégorie.</p>
    </a>
  </div>
  <div class="card">
    <a routerLink="update" routerLinkActive="active">
      <i class="fa fa-pencil-alt"></i>
      <h3>Modifier une catégorie</h3>
      <p>Consiste à modifier les catégories.</p>
    </a>
  </div>
  <div class="card">
    <a routerLink="delete" routerLinkActive="active">
      <i class="fa fa-times" aria-hidden="true"></i>
      <h3>Supprimer une catégorie</h3>
      <p>Consiste à supprimer des catégories.</p>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
