<div class="row">
  <h1>Les contributeurs</h1>
  <p>
    Notre groupe est composé de cinq personnes : Saviour, Florian, Flavian, Alexandre et Livio. Nous avons décidé
    de mettre nos compétences en informatique et en gestion de projet au service de la Haute école Louvain-la-Neuve
    (HELHa) en créant un projet visant à faciliter la vie des étudiants.
  </p>
  <p>
    Notre projet comprend plusieurs éléments : un forum où les étudiants peuvent échanger entre eux et poser des
    questions, des articles proposant des informations utiles et pratiques sur divers sujets liés à la haute école,
    et des événements organisés par et pour les étudiants. Nous espérons que ce projet sera un véritable atout pour
    les étudiants de la HELHa et leur permettra de mieux profiter de leur expérience en haute école.
  </p>
  <div class="column">
    <img src="assets/img/saviour.png" alt="profil">
  </div>
  <div class="column">
    <h2>ADAMAHETO Saviour</h2>
    <p>
      Bonjour, je suis Adamaheto Saviour, étudiant en informatique de gestion à la Haute École Louvain en Hainaut
      (HELHA) en année diplômante. J'ai 21 ans et je suis passionné par l'informatique depuis mon plus jeune âge.
      Mon objectif principal est de me rendre utile en apportant ma contribution à des projets informatiques innovants
      et de qualité. J'aime apprendre de nouvelles technologies et résoudre des problèmes complexes, ce qui me permet
      de développer mes compétences et de m'épanouir professionnellement. En dehors de l'informatique, j'aime également
      la musique et les sports de plein air, qui me permettent de me déconnecter et de me ressourcer. Je suis une
      personne sociable et dynamique, toujours à l'écoute et prêt à aider les autres. Je suis convaincu que mes
      passions et mes qualités me permettront de réussir dans ma carrière professionnelle et de m'épanouir pleinement.
    </p>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/adamaheto-saviour"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:rfenopro@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
  <div class="column">
    <img src="assets/img/florian.png" alt="profil">
  </div>
  <div class="column">
    <h2>DECOUT Florian</h2>
    <p>
      Bonjour, je m'appelle Florian et j'ai 23 ans. Je suis étudiant en informatique de gestion en dernière année à
      la Haute Ecole Louvain en Hainaut (HELHa). Je suis passionné par l'informatique depuis plusieurs années déjà.
      Les jeux vidéo m'ont incité à faire de l'informatique, car je voulais savoir avec quel langage ils étaient
      créés et aussi voir leur complexité. J'ai pu participer à différents projets pendant mon cursus, mais les
      projets web restent mes préférés et celui-ci en fait partie. J'ai travaillé sur la catégorie du site,
      ainsi que sur le CRUD du côté admin. J'ai également participé à une partie du développement de l'application mobile. Grâce à
      ces différents projets, j'ai acquis des connaissances solides qui me permettront de les mettre en
      pratique dans la vie professionnelle.
    </p>
    <div class="social-links">
      <a href="https://be.linkedin.com/in/florian-decout-6a11b7251"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:fd198893@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
  <div class="column">
    <img src="assets/img/flavian.png" alt="profil">
  </div>
  <div class="column">
    <h2>GODEMONT Flavian</h2>
    <p>
      Je m'appelle Flavian Godemont et j'ai 21 ans. Je suis actuellement étudiant en troisième année de bachelier
      en informatique de gestion à la Haute Ecole Louvain-la-Neuve en Hainaut (HELHa). J'ai déjà eu l'occasion de mettre
      mes compétences en développement Web en pratique en me chargeant de la partie forum et front-end
      dans ce projet. Je suis passionné par les technologies de l'informatique, et j'espère pouvoir poursuivre mes
      études en informatique de gestion afin de développer mes connaissances et compétences dans ce domaine passionnant.
    </p>
    <div class="social-links">
      <a href="https://be.linkedin.com/in/flavian-godemont-7389a41a0"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:flaviangodemont@hotmail.com"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
  <div class="column">
    <img src="assets/img/alexandre.png" alt="profil">
  </div>
  <div class="column">
    <h2>NOËL Alexandre</h2>
    <p>
      Bonjour, je m'appelle Alexandre Noël et j'ai 23 ans. Je suis étudiant en informatique de gestion en 3ème année
      à la HELHa de Mons. J'ai eu l'opportunité de participer à de nombreux projets pendant mes études, notamment
      en me chargeant des articles et des événements sur ce site web ainsi qu'une partie de l'application mobile.
      Grâce à cette expérience, j'ai acquis une solide connaissance du développement web et une bonne
      compréhension des enjeux liés à la gestion d'un site web. Je suis passionné par l'informatique et je suis
      à la recherche de nouvelles opportunités pour mettre mes compétences en pratique et contribuer à des projets
      passionnants.
    </p>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/alexandre-no%C3%ABl/"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:alexnoel218@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
  <div class="column">
    <img src="assets/img/livio.png" alt="profil">
  </div>
  <div class="column">
    <h2>RUBINO Livio</h2>
    <p>
      Bonjour, je m'appelle Livio Rubino et j'ai 20 ans. Je suis actuellement étudiant en troisième année à la
      HELHA de Mons, où je suis en formation en informatique de gestion. Lors de ce projet, j'ai principalement
      travaillé sur le côté administrateur et le backend de ce site, ce qui m'a permis de développer des compétences
      en matière de gestion de bases de données et de développement de scripts. Je suis passionné par l'informatique
      et j'aime travailler sur des projets qui me permettent de mettre en pratique mes connaissances.
    </p>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/livio-rubino-503b91227/"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:rubinolivio@outlook.com"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</div>
